.logo{
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
	color: #00FF7F;
	margin-left: 15px;
}

.logo:hover{
	color: #00FF7F;
}


.cor-navBar {
	background: #000000;
}

.btn-cor {
	background-color: #00FF7F;
	width: 30px;
	height: 35px;
	border-radius: 5px;
}

.cor-links {
	color: white;
}

.alinhar-botao {
	margin-top: 25px;
}

.login-box {
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
}



.abc {
	width: 310px;
	background: none;
	border: 2px solid black;
	color: black;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin-bottom: 10px;
}

.comprar{

   display: flex;
   flex-direction: row;
   align-items: center;
   
	
}
.teste {
	display: flex;
	flex-direction: center;
	margin: 15px;
}

.espaco-card{
    margin-bottom: 30px;
}
.borda-titulo{
    border-bottom: 1px solid #00FF7F;
}

.nav{
	background-color:  #4F4F4F; 
}



.cor-nav-item{
	color: white;
	font-size: 16px;
}

.cor-nav-item:hover{
	color: #00FF7F;
	background: #4F4F4F;
}


#botao-login{
	background-color: #00FF7F;
}

.rodape{
	margin-top: 20%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

div.body-content {
	/** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
	padding-bottom: 100px;
	margin-left: 750px;
	margin-top: 150px;
}

.footer {
	
	bottom: 0;
	left: 0;
	background: #4F4F4F;
	width: 100%;
	height: 150px;
	font-size: 16px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.footer p{
	color:white;
	text-align: center;
}

.testando{
	padding: 20px;
}

.centraliza-titulo-modal{
	text-align: center;
}

.carrinho{
	position:absolute;
	right:0px;
	width:300px;
}

#input{
	margin-top:17px;
	margin-left: 580px;
	width:150px;
}

.produtos-carrinho{
	background-color: white;
}
.fonte{
	font-family: "Arial Black", Gadget, sans-serif
}


.caguei{
	margin-left:100px;
}

.muda-cor-importar-produto:hover{
	background:#00FF7F 
}

.paginacao{
	justify-content: center;
}
.oi{
	background: red;
}
